<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="format-detection" content="telephone=no">
        <title>SChat</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="/static/chat.css" rel="stylesheet">
    </head>
    <body hx-on::history-restore="scrollToBottom(document.getElementById('messages'))">
        <div id="wrapper" hx-history-elt
             hx-on::after-settle="scrollToBottom(document.getElementById('messages'))">
            <div id="channels" hx-boost="true" hx-target="#wrapper" hx-swap="outerHTML" hx-sync="#channels:replace">
                <a th:each="channel: ${channels}" th:attrappend="href=${channel.href != null}?${channel.href}" th:text="${channel.name}">general</a>
            </div>
            <div id="chat" hx-ext="ws" th:ws-connect="${ws}"
                 hx-on::ws-open="let after = this.querySelector('#messages')
                                     .lastElementChild?.dataset?.id ?? -1;
                                 event.detail.socketWrapper.sendImmediately(
                                     JSON.stringify({ after }),
                                 messages);"
                 hx-on::ws-after-message="scrollToBottom(document.getElementById('messages'))">
                <ul id="messages" th:attrappend="hx-swap-oob=${liveUpdate}?'beforeend'">
                    <li th:each="message: ${messages}" th:attr="data-id=${message.id}">
                        <strong th:text="${message.username}">robbie</strong>: <span th:text="${message.msg}">hello world</span>
                    </li>
                </ul>
                <form id="send" hx-post="" hx-on::before-request="this.reset()">
                    <input type="text" name="msg" placeholder="Message...">
                    <input type="submit" value="➤">
                </form>
            </div>
        </div>
        <script>
            const scrollToBottom = messages => messages.scrollTo(0, messages.scrollHeight)
            document.addEventListener('DOMContentLoaded', () => scrollToBottom(document.getElementById('messages')))
        </script>
        <script src="/static/htmx.js"></script>
        <script src="/static/htmx-ext-ws.js"></script>
    </body>
</html>